.seller-banner{
    height: 300px;
    width: 100%;
    display: flex;
    background:#000000d9;
    color: #fff;
    padding: 25px;
}
.seller-banner h1,.seller-banner h5{
    color: #fff;
}
.row{
    width: 100%;
}
.margin-10{
    margin-top: 10px;
}
.category-tabs{
    margin: 40px;
}
.product-row{
    margin:15px 0px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(218, 196, 196);
}

.product-text{border-bottom: 1px solid #777;
    padding-bottom: 25px;

}