.home-food-logo {
   width: 100%;
   display: flex;
   margin: 20px 0px;
   justify-content: center;
   height: auto;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }
    [data-theme="dark"] .site-layout .site-layout-background {
      background: #141414;
    }


 .header-navbar{
  height: 64px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 64px;
    background :linear-gradient(to right, #F7BB41, #FF7053 );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
 }   



.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #F7BB41;
}

.ant-layout-sider {
  background: #ffff;
  transition: all 0.2s;
}

.ant-layout-sider-trigger {
  background: #F7BB41;
}

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.65);
  background: #F9F9F9;
  opacity: 0.;
}

.ant-menu-dark .ant-menu-item > span > a {
  color: rgba(0, 0, 0, 0.85);
}


.ant-menu-item .ant-menu-item-icon, .ant-menu-submenu-title .ant-menu-item-icon, .ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
  color: rgba(0, 0, 0, 0.85);
}

.ant-btn-primary {
  color: #fff;
  background: #F7BB41;
  border: none;
}

.ant-btn:hover, .ant-btn:focus {
  color: #fff;
  background: #F7BB41;
  border: none;
}

.ant-tag, .ant-tag a, .ant-tag a:hover {
  /* background: orange !important; */
}
/* .header-navbar */

.ant-menu-dark .ant-menu-item-selected .ant-menu-item-active .ant-menu-item-icon, .ant-menu-dark .ant-menu-item-selected .anticon {
  color: black;
}

.ant-menu-dark .ant-menu-item-selected .ant-menu-title-active .ant-menu-item-icon, .ant-menu-dark .ant-menu-item-selected .anticon {
  color: black;
}

.ant-menu-item ant-menu-item-selected{
  color: #141414;
}

.ant-layout-sider-zero-width-trigger {
  background: #F7BB41;
  top: 73px;
}

.menu-item-custom{
  color: #141414;

}

.sidebar-icon{
  font-size: 20px !important;  

}