.left-container{
    height: 100vh;
    background:#000000d9;
    display: flex;
    align-items: center;
   }
   .left-container-content{
       padding: 40px;
       width: 80%;
       height: auto;
       color: #fff;
   }
   .left-container-content h1{
       border-bottom: 2px solid;
       padding-bottom: 26px;
       color: #fff;
       font-family: system-ui;
       width: 70%;
   }
   .right-container{
       padding: 20px 50px;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;


   }
   
.right-container p{
text-align: left;
font-weight: 700;

}
