.home-food-logo {
   width: 100%;
   display: flex;
   margin: 20px 0px;
   justify-content: center;
   height: auto;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }
    [data-theme="dark"] .site-layout .site-layout-background {
      background: #141414;
    }


 .header{
  display: flex;
  justify-content: flex-end;
  margin: 10px 19px;
 }   